
<section class="w-full flex flex-col gap-4">
  <div class="w-full flex flex-col md:flex-row gap-4">
    <div class="p-4 bg-white rounded-2xl flex gap-4 w-full md:w-[300px]">
      <input type="text" class="w-full" [(ngModel)]="driverFilter" (ngModelChange)="onDriverFilterChange($event)"
        placeholder="Busque pelo nome do motorista">
    </div>

    <div class="p-4 bg-white rounded-2xl flex gap-4">
      <select class="pr-2 font-bold" [(ngModel)]="statusFilter" (ngModelChange)="onStatusFilterChange($event)">
        <option value="">Todo tipo de entregas</option>
        <option value="ENTREGUE">Entregue</option>
        <option value="PENDENTE">Pendente</option>
        <option value="INSUCESSO">Insucesso</option>
      </select>
    </div>
  </div>

  <div class="p-4 w-full bg-white rounded-2xl flex flex-col gap-4">
    <table>
      <thead>
        <tr>
          <th class="font-bold text-left p-2 px-4">Documento</th>
          <th class="font-bold text-left p-2 px-4">Motorista</th>
          <th class="font-bold text-left p-2 px-4">Cliente Origem</th>
          <th class="font-bold text-left p-2 px-4">Cliente Destino</th>
          <th class="font-bold text-left p-2 px-4">Status Entrega</th>
        </tr>
      </thead>
      <tbody>
        @if(filteredDeliveries!.length <= 0 ){
          <tr>
            <td class="w-full p-4 text-center" colspan="5">Não encontramos resultado para a pesquisa.</td>
          </tr>
        }
        @else {
          @for(item of filteredDeliveries; track $index){
            <tr (click)="selectDelivery(item)">
              <td class="p-2 px-4">{{ item.documento }}</td>
              <td class="p-2 px-4">{{ item.motorista.nome }}</td>
              <td class="p-2 px-4">{{ item.cliente_origem.nome }}</td>
              <td class="p-2 px-4">{{ item.cliente_destino.nome }}</td>
              <td class="p-2 px-4">{{ item.status_entrega }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="flex gap-4">
    <button [disabled]="currentPage! <= 1" (click)="onPageChange(currentPage! - 1)">Anterior</button>
    <button [disabled]="currentPage! >= totalPage!" (click)="onPageChange(currentPage! + 1)">Próximo</button>
  </div>
</section>
